div#monBloc h1{color: yellowgreen;}
div#monAutreBloc h1{color: yellowgreen;}

p, h2, ul, li {
  color: white;
  text-align: center;
}
body {
  background-image: url("https://img.freepik.com/premium-photo/cheerful-gamers-play-video-games-have-fun-together-gaming-club-they-sit-comfortable-chairs-wear-headphones_14117-437241.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}
